@import "tailwindcss";

/* ======== Прочие CSS переменные ======== */
:root {
  /* Максимальная ширина сайта */
  --content-max-width: 1220px;

  --width-burger-button: 1.875rem;
  --height-burger-button: 1.875rem;
}

/* Подключение шрифтов */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Saira";
  src: url("/fonts/saira/Saira-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Универсальное правило для отключения анимаций */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Определение переменных */
@theme {
  /* Шрифты */
  --font-montserrat: "Montserrat", sans-serif;
  --font-saira: "Saira", sans-serif;

  /* Светлая тема */
  /* Задний фон */
  --color-background-primary: #faf8f6; /* тёплый молочно-белый (основной фон) */
  --color-background-secondary: #f2efea; /* чуть более насыщенный кремовый (второстепенные блоки, карточки) */

  /* Текст */
  --color-text-primary: #1c1c1c; /* почти чёрный для основного текста */
  --color-text-secondary: #5b4b3b; /* тёплый коричневый для подзаголовков */
  --color-text-tertiary: #8e1b3a; /* ягодный акцент для заголовков и выделений */

  /* Accent Colors */
  --color-accent-primary: #c72c48; /* сочная малина для акцентных линий и кнопок */
  --color-accent-secondary: #e1d4c9; /* мягкий бежевый для рамок и разделителей */
  --color-accent-tertiary: #88a67e; /* травяной зелёный для лёгких акцентов и hover-эффектов */

  /* Тёмная тема */
  /* Задний фон */
  --color-background-primary-dark: #1b1b1b; /* глубокий угольно-серый (основной фон) */
  --color-background-secondary-dark: #24221f; /* тёмный оливковый оттенок (блоки и выделения) */

  /* Текст */
  --color-text-primary-dark: #ffffff; /* чисто белый для основного текста */
  --color-text-secondary-dark: #e8c6b4; /* тёплый кремовый для подзаголовков */
  --color-text-tertiary-dark: #f26b88; /* нежно-малиновый для акцентных заголовков */

  /* Accent Colors */
  --color-accent-primary-dark: #c72c48; /* та же «сочная малина», чтобы сохранить фирменность */
  --color-accent-secondary-dark: #5e7b57; /* мягкий зелёный для декоративных линий и иконок */
  --color-accent-tertiary-dark: #403b36; /* глубокий кофейный для теней и рамок */

  /*========== Шрифт и типография ==========*/
  --text-biggest-size-desktop: 4.5rem;
  --text-biggest-size: 3.5rem;
  --text-big-size-desktop: 2.5rem;
  --text-big-size: 2rem;
  --text-hl-size: 1.5rem;
  --text-h2-size: 1.25rem;
  --text-h3-size: 1rem;
  --text-normal-size: 0.938rem;
  --text-small-size: 0.813rem;

  /*========== Толщина шрифта ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* ======== Общие стили для всего приложения ====== */

html {
  /* Плавное прокручивание при якорных ссылках. */
  @apply scroll-smooth;
}

body {
  /* Задаём цвета фона и текста */
  /* Вначале используем светлую тему */
  @apply bg-background-primary text-text-primary
  /* Затем добавляем тёмную тему для поддержки dark mode */
  dark:bg-background-primary-dark dark:text-text-primary-dark
  /* Устанавливаем шрифт по умолчанию */
  font-montserrat; /* font-saira */
}

h1,
h2,
h3,
h4 {
  @apply font-saira font-[number:var(--font-medium)] leading-[110%];
}

address {
  @apply not-italic;
}

*:focus {
  @apply outline-none;
}

/* ======== Переиспользуемые классы ======== */
/* Контейнер для обёртки контента 
@TODO Заменить на .container от Tailwind?
*/
.wrap-container {
  @apply max-w-[var(--content-max-width)] mx-auto px-6;
}

.section {
  @apply py-20;

  &:first-of-type {
    @apply pt-10;
  }
}

.section__title {
  @apply text-big-size md:text-big-size-desktop
  uppercase text-center
  font-[var(--font-semi-bold)]
  mb-10;
}

.button {
  @apply inline-flex
  py-4 px-8 font-[var(--font-semi-bold)]
  bg-background-secondary dark:bg-background-secondary-dark
  transition-colors transition-shadow duration-400;

  &:hover {
    @apply bg-background-primary dark:bg-background-primary-dark
    shadow-sm/40;
  }
}

.field__error {
  @apply border-1 border-accent-primary dark:border-accent-primary-dark;
}

/*
  Класс для создания фигурного края у секций
*/
.shaped::before {
  @apply content-[""] block
  absolute bottom-0
  w-full aspect-square
  bg-background-secondary dark:bg-background-secondary-dark
  rounded-[50%];

  clip-path: inset(50% 0 0 0);
}

/*
  Родительские элементы для псевдоклассов
  должны быть задаными с относительным позиционированием
*/
*:has(> .shaped),
.shaped,
.shaped img {
  @apply relative;
}

/*
  Изменение цветов иконок
*/
svg {
  & path,
  rect,
  circle,
  .fill-text {
    @apply fill-text-primary dark:fill-text-primary-dark;
  }

  & .fill-background {
    @apply fill-background-primary dark:fill-background-primary-dark;
  }
}

/* ======== Стили компонентов ======== */
.header {
  @apply bg-accent-tertiary dark:bg-accent-tertiary-dark
  /* Приклеиваем к верху экрана */
  fixed w-full left-0 top-0
  py-7
  /* анимация тени */
  transition-shadow duration-[0.4s] ease-[ease]
  z-10;

  & .wrap-container {
    @apply flex justify-between items-center;

    /* Переход между мобильной версией и обычной: md */

    & .header__logo {
      @apply font-saira font-[var(--font-medium)]
      transition-[top] duration-[0.4s]
      uppercase;

      /* Стили для hover */
      &:hover {
        @apply text-accent-primary dark:text-accent-primary-dark;
      }
    }

    & .header__toggle {
      @apply flex flex-col justify-between place-items-end order-1
      w-[var(--width-burger-button)] h-[var(--height-burger-button)]
      overflow-hidden focus:outline-none md:hidden z-20;

      & span {
        @apply h-0.5 bg-text-primary dark:bg-text-primary-dark rounded-sm duration-300;
      }
    }

    & .header__nav {
      @apply fixed md:static
      /* top-0 top-[-120%] */ left-0
      w-full md:w-auto
      py-16 md:py-0
      shadow-lg/40 md:shadow-none
      /* Закрашиваем задний фон */
      bg-accent-tertiary dark:bg-accent-tertiary-dark
      /* Плавно анимируй изменение свойства top в течение 0.4 секунды */
      transition-[top] duration-[0.4s];

      & .nav__list {
        @apply flex flex-col md:flex-row
        gap-y-8 md:gap-x-16
        text-center;

        & .nav__item {
          & .nav__link {
            /* Типографика */
            @apply leading-[110%] uppercase font-saira font-[var(--font-medium)]
            text-hl-size md:text-normal-size
            /* Плавно анимируй изменение свойства color в течение 0.4 секунды */
            transition-[color] duration-[0.4s]
            text-text-primary dark:text-text-primary-dark;

            /* Стили для активной ссылки */
            &.active-link {
              @apply text-text-secondary dark:text-text-secondary-dark;
            }

            /* Стили для hover */
            &:hover {
              @apply text-accent-primary dark:text-accent-primary-dark;
            }
          }
        }
      }
    }

    & .header__lang-switcher {
      @apply block cursor-pointer;

      & img {
        @apply w-[clamp(1.5rem,3vw,2.5rem)]
        h-[clamp(1.125rem,2.2vw,1.875rem)];
      }
    }
  }

  &.shadow {
    @apply shadow-lg/40 dark:shadow-lg/40;
  }
}

.hero {
  @apply bg-accent-tertiary dark:bg-accent-tertiary-dark
  text-center overflow-hidden;

  & .wrap-container {
    @apply flex flex-col md:flex-row md:flex-wrap items-center;

    & .hero__title {
      @apply text-biggest-size md:text-biggest-size-desktop font-[var(--font-semi-bold)] w-full;
    }

    & .hero__images {
      @apply relative -mt-13
      w-full md:w-1/2 lg:w-1/3 md:order-1;

      &::after {
        @apply content-[""] block
        absolute -bottom-5 lg:bottom-1/3 -right-5 lg:-right-2/3
        /* Задаём размеры изображения */
        w-[20%] lg:w-[40%] aspect-square
        /* Центрируем изображение */
        rotate-30
        bg-[url(/src/assets/imgs/hero/stamp.png)]
        bg-no-repeat bg-cover bg-center;
      }

      & .deco1 {
        &::before {
          @apply content-[""] block
          absolute bottom-0
          /* Задаём размеры изображения */
          w-[110%] aspect-[3_/_1]
          /* Центрируем изображение */
          -translate-x-1/2 left-1/2
          bg-[url(/src/assets/imgs/hero/branch.png)]
          bg-no-repeat bg-cover bg-center;
        }

        &::after {
          @apply content-[""] block
          absolute bottom-0
          /* Задаём размеры изображения */
          w-[25%] aspect-[1_/_1.14]
          /* Центрируем изображение */
          left-1/2
          -rotate-30
          bg-[url(/src/assets/imgs/hero/strawberry-leaf.png)]
          bg-no-repeat bg-cover bg-center;
        }
      }

      & .deco2 {
        &::before {
          @apply content-[""] block
        absolute
        /* Задаём размеры изображения */
        w-[13%] aspect-square
        /* Позиционируем изображение */
        right-1/6 top-1/2
        -rotate-26 blur-[2px]
        bg-[url(/src/assets/imgs/hero/blueberry.png)]
        bg-no-repeat bg-cover bg-center;
        }

        &::after {
          @apply content-[""] block
        absolute
        /* Задаём размеры изображения */
        w-[15%] aspect-square
        /* Позиционируем изображение */
        left-0 top-1/4
        -rotate-26
        bg-[url(/src/assets/imgs/hero/blueberry.png)]
        bg-no-repeat bg-cover bg-center;
        }
      }

      & .deco3 {
        &::before {
          @apply content-[""] block
        absolute
        /* Задаём размеры изображения */
        w-[15%] aspect-[1_/_2]
        /* Позиционируем изображение */
        right-0 top-1/6
        rotate-10
        bg-[url(/src/assets/imgs/hero/barberry.png)]
        bg-no-repeat bg-cover bg-center;
        }

        &::after {
          @apply content-[""] block
        absolute
        /* Задаём размеры изображения */
        w-[13%] aspect-[1_/_2]
        /* Позиционируем изображение */
        left-1/12 top-3/5
        rotate-10
        bg-[url(/src/assets/imgs/hero/barberry.png)]
        bg-no-repeat bg-cover bg-center;
        }
      }

      & .hero__image {
        @apply relative mx-auto
        w-7/10
        -rotate-6;
      }
    }

    & .hero__data {
      @apply w-full md:w-1/2 lg:w-1/3
      md:text-left;

      & .hero__description {
        @apply mt-10 mb-6;
      }
    }
  }
}

.popular {
  & .wrap-container {
    & .popular__swiper {
      @apply w-full overflow-hidden
      cursor-grab select-none
      translate-z-0;

      &.is-dragging {
        @apply cursor-grabbing;
      }

      & .swiper-wrapper {
        --swiper-gap: 2.5rem;
        @apply flex gap-[var(--swiper-gap)]
        items-stretch
        will-change-transform
        backface-hidden
        perspective-normal;

        /* Клоны для бесконечной прокрутки */
        & .clone {
          @apply opacity-100;
        }

        & .popular__card {
          --swiper-cols-md: 3;
          --swiper-cols-lg: 4;
          @apply flex flex-col gap-5
          justify-between
          text-center shrink-0
          pt-4
          w-full
          md:w-[calc(1/var(--swiper-cols-md)*100%-var(--swiper-gap)*(var(--swiper-cols-md)-1)/var(--swiper-cols-md)-1px)]
          lg:w-[calc(1/var(--swiper-cols-lg)*100%-var(--swiper-gap)*(var(--swiper-cols-lg)-1)/var(--swiper-cols-lg)-1px)]
          transition-transform duration-[0.5s] delay-[0.1s];

          &:hover {
            @apply md:-translate-y-2;

            & .popular__images .deco1 {
              &::before {
                @apply translate-x-[100%] translate-y-[50%];
              }

              &::after {
                @apply -translate-x-[30%] -translate-y-[10%];
              }
            }
          }

          & .popular__images {
            @apply w-[99%]
            aspect-square;

            &::before {
              @apply bg-accent-tertiary dark:bg-accent-tertiary-dark;
            }

            & .deco1 {
              @apply absolute bottom-0;

              &::before {
                @apply content-[""] block
                absolute bottom-1/12 right-1/7
                /* Задаём размеры изображения */
                w-[10%] aspect-[1_/_1.5]
                -rotate-30 blur-[2px]
                bg-[url(/src/assets/imgs/popular/leaf.png)]
                bg-no-repeat bg-cover bg-center
                transition-transform duration-[0.5s] delay-[0.1s];

                &:hover {
                  @apply right-1/14;
                }
              }

              &::after {
                @apply content-[""] block
                absolute top-1/7 left-1/30
                /* Задаём размеры изображения */
                w-[15%] aspect-[1_/_1.5]
                /* Центрируем изображение */
                rotate-30
                bg-[url(/src/assets/imgs/popular/leaf.png)]
                bg-no-repeat bg-cover bg-center
                transition-transform duration-[0.5s] delay-[0.1s];

                &:hover {
                  @apply top-1/5 left-1/60;
                }
              }
            }

            & .popular__img {
              @apply w-3/5 mx-auto;
            }
          }

          & .popular__data {
            & .popular__name {
              @apply uppercase mb-2;
            }

            & .popular__description {
              @apply mb-6;
            }
          }
        }
      }
    }
  }
}

.about {
  @apply bg-accent-tertiary dark:bg-accent-tertiary-dark
  text-center md:text-left
  overflow-hidden;

  & .wrap-container {
    @apply flex flex-col md:flex-row
    items-center gap-12;

    & .about__data {
      @apply md:w-full;

      & .about__description {
        @apply mb-6;
      }
    }

    & .about__images {
      &.shaped::before {
        clip-path: inset(0 0 0 0);
      }

      & .about__deco1 {
        &::before {
          @apply content-[""] block
          absolute top-1/12 right-1/8
          /* Задаём размеры изображения */
          w-[10%] aspect-[1_/_1.5]
          -rotate-30
          bg-[url(/src/assets/imgs/popular/leaf.png)]
          bg-no-repeat bg-cover bg-center;
        }

        &::after {
          @apply content-[""] block
          absolute top-1/7 left-1/30
          /* Задаём размеры изображения */
          w-[15%] aspect-[1_/_1.5]
          rotate-30
          bg-[url(/src/assets/imgs/popular/leaf.png)]
          bg-no-repeat bg-cover bg-center;
        }

        & .about__img {
          @apply z-1;
        }
      }
    }
  }
}

.product {
  @apply bg-background-secondary dark:bg-background-secondary-dark;

  & .wrap-container {
    & .product__container {
      --product-gap: 3rem;
      @apply flex flex-col md:flex-row md:flex-wrap gap-[var(--product-gap)] justify-between;

      & .product__card {
        --product-cols-md: 3;
        @apply bg-accent-tertiary dark:bg-accent-tertiary-dark
        p-6
        w-full
        md:w-[calc(1/var(--product-cols-md)*100%-var(--product-gap)*(var(--product-cols-md)-1)/var(--product-cols-md))];

        &:hover .product__images .product__deco1 {
          &::before {
            @apply right-1/21 top-3/8;
          }

          &::after {
            @apply left-1/15 top-1/8;
          }
        }

        & .product__images {
          @apply aspect-square;

          & .product__deco1 {
            @apply absolute bottom-0;

            &::before {
              @apply content-[""] block
              absolute z-1
              /* Задаём размеры изображения */
              w-[17%] aspect-[1_/_1.4]
              /* Позиционируем изображение */
              right-1/6 top-1/2
              rotate-26
              bg-[url(/src/assets/imgs/products/blueberry-leaf.png)]
              bg-no-repeat bg-cover bg-center
              transition-[top,right] duration-[0.5s] delay-[0.1s];
            }

            &::after {
              @apply content-[""] block
              absolute
              /* Задаём размеры изображения */
              w-[20%] aspect-[1_/_1.4]
              /* Позиционируем изображение */
              left-1/5 top-1/4
              -rotate-90
              bg-[url(/src/assets/imgs/products/blueberry-leaf.png)]
              bg-no-repeat bg-cover bg-center
              transition-[top,left] duration-[0.5s] delay-[0.1s];
            }
          }

          & .product__img {
            @apply w-5/8 mx-auto;
          }
        }

        & .product__data {
          @apply mt-5;

          & .product__name {
            @apply text-h3-size uppercase mb-3;
          }

          & .products__price {
            @apply text-h3-size
            font-[number:var(--font-medium)];
          }

          & .products__button {
            @apply absolute
            right-5 bottom-6
            w-8;
          }
        }
      }
    }
  }
}

.contact {
  @apply bg-accent-tertiary dark:bg-accent-tertiary-dark;

  & .wrap-container {
    & .contact__container {
      @apply flex flex-col md:flex-row gap-y-8 gap-[var(--contact-vertical-gap)] items-center;

      & .contact__info {
        @apply flex flex-col gap-y-8
        md:basis-1/4 lg:basis-1/3
        text-center;

        &.column-1 {
          @apply md:order-1;
        }

        & .contact__data {
          & .contact__title {
            @apply text-hl-size mb-2;
          }

          & .contact__social {
            @apply flex flex-row justify-center gap-x-4;

            & .contact__social-link {
              @apply text-hl-size;

              & svg {
                @apply h-[var(--text-hl-size)];
              }
            }
          }

          & .contact__address {
            & span {
              @apply block;
            }
          }
        }
      }

      & .contact__images {
        @apply md:basis-1/2 lg:basis-1/3;

        &.shaped::before {
          clip-path: inset(0 0 0 0);
        }

        & .contact__image {
          --vertical-shift: clamp(2rem, 10vw, 6rem);
          @apply relative bottom-[var(--vertical-shift)]
          w-[70%] mx-auto mt-[var(--vertical-shift)]
          mask-b-from-80%;
        }
      }
    }
  }
}

.footer {
  @apply bg-background-secondary dark:bg-background-secondary-dark
  py-16;

  & .wrap-container {
    @apply flex flex-col flex-wrap md:flex-row
     gap-6 gap-x-12;

    & .footer__block {
      @apply flex-1 min-w-0;

      &.form-block {
        @apply basis-full
        md:px-[calc(33.33vw/2)]
        lg:px-[25vw];
      }

      & .footer__title {
        @apply mb-4 text-h2-size
        md:text-center;
      }

      & .footer__social,
      .footer__payment {
        @apply flex flex-row gap-4
        md:w-fit md:mx-auto;

        & .footer__social-link,
        .footer__payment-link {
          & svg {
            @apply h-6;

            & .fill-background {
              @apply fill-background-secondary dark:fill-background-secondary-dark;
            }
          }
        }
      }

      & .footer__form {
        @apply bg-accent-tertiary dark:bg-accent-tertiary-dark
        flex gap-4
        p-2;

        & > * {
          @apply w-full;
        }

        & input {
          @apply pl-3 font-[var(--font-semi-bold)]
          text-text-primary dark:text-text-primary-dark;
        }

        & .button {
          @apply px-6 md:w-auto;
        }
      }
    }
  }

  & .footer__copyrights {
    @apply block mx-auto w-fit mt-16;
  }
}

/* ======== Удаляемые стили ======== */

/* @TODO: Макет - удалить, когда не будет нужен */
.mock-up {
  @apply border p-10 mx-6 xl:mx-auto max-w-[var(--content-max-width)];
}
