@import "tailwindcss";

/* ======== Прочие CSS переменные ======== */
:root {
  /* Максимальная ширина сайта */
  --content-max-width: 1220px;
}

/* Подключение шрифтов */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Saira";
  src: url("/fonts/saira/Saira-VariableFont_wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Универсальное правило для отключения анимаций */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Определение переменных */
@theme {
  /* Шрифты */
  --font-montserrat: "Montserrat", sans-serif;
  --font-saira: "Saira", sans-serif;

  /* Светлая тема */
  /* Задний фон */
  --color-background-primary: #faf8f6; /* тёплый молочно-белый (основной фон) */
  --color-background-secondary: #f2efea; /* чуть более насыщенный кремовый (второстепенные блоки, карточки) */

  /* Текст */
  --color-text-primary: #1c1c1c; /* почти чёрный для основного текста */
  --color-text-secondary: #5b4b3b; /* тёплый коричневый для подзаголовков */
  --color-text-tertiary: #8e1b3a; /* ягодный акцент для заголовков и выделений */

  /* Accent Colors */
  --color-accent-primary: #c72c48; /* сочная малина для акцентных линий и кнопок */
  --color-accent-secondary: #e1d4c9; /* мягкий бежевый для рамок и разделителей */
  --color-accent-tertiary: #88a67e; /* травяной зелёный для лёгких акцентов и hover-эффектов */

  /* Тёмная тема */
  /* Задний фон */
  --color-background-primary-dark: #1b1b1b; /* глубокий угольно-серый (основной фон) */
  --color-background-secondary-dark: #24221f; /* тёмный оливковый оттенок (блоки и выделения) */

  /* Текст */
  --color-text-primary-dark: #ffffff; /* чисто белый для основного текста */
  --color-text-secondary-dark: #e8c6b4; /* тёплый кремовый для подзаголовков */
  --color-text-tertiary-dark: #f26b88; /* нежно-малиновый для акцентных заголовков */

  /* Accent Colors */
  --color-accent-primary-dark: #c72c48; /* та же «сочная малина», чтобы сохранить фирменность */
  --color-accent-secondary-dark: #5e7b57; /* мягкий зелёный для декоративных линий и иконок */
  --color-accent-tertiary-dark: #403b36; /* глубокий кофейный для теней и рамок */
}

/* ======== Общие стили для всего приложения ====== */

html {
  /* Плавное прокручивание при якорных ссылках. */
  @apply scroll-smooth;
}

body {
  /* Задаём цвета фона и текста */
  /* Вначале используем светлую тему */
  @apply bg-background-primary text-text-primary
  /* Затем добавляем тёмную тему для поддержки dark mode */
  dark:bg-background-primary-dark dark:text-text-primary-dark
  /* Устанавливаем шрифт по умолчанию */
  font-montserrat; /* font-saira */
}

/* ======== Переиспользуемые классы ======== */
.wrap-container {
  @apply max-w-[var(--content-max-width)] mx-auto px-6;
}

/* ======== Стили компонентов ======== */
.header {
  @apply bg-accent-tertiary dark:bg-accent-tertiary-dark
  /* Приклеиваем к верху экрана */
  fixed w-full left-0 top-0;

  & .wrap-container {
    @apply flex justify-between items-center;

    & .header__lang-switcher {
      & img {
        @apply w-[clamp(1.5rem,3vw,2.5rem)]
        h-[clamp(1.125rem,2.2vw,1.875rem)];
      }
    }
  }
}

main {
}

/* ======== Удаляемые стили ======== */

/* @TODO: Макет - удалить, когда не будет нужен */
.mock-up {
  @apply border p-10 mx-6 xl:mx-auto max-w-[var(--content-max-width)];
}
