@import "tailwindcss";

/* Определение переменных */
@theme {
  /* Светлая тема */
  /* Задний фон */
  --color-background-primary: #faf8f6; /* тёплый молочно-белый (основной фон) */
  --color-background-secondary: #f2efea; /* чуть более насыщенный кремовый (второстепенные блоки, карточки) */

  /* Текст */
  --color-text-primary: #1c1c1c; /* почти чёрный для основного текста */
  --color-text-secondary: #5b4b3b; /* тёплый коричневый для подзаголовков */
  --color-text-tertiary: #8e1b3a; /* ягодный акцент для заголовков и выделений */

  /* Accent Colors */
  --color-accent-primary: #c72c48; /* сочная малина для акцентных линий и кнопок */
  --color-accent-secondary: #e1d4c9; /* мягкий бежевый для рамок и разделителей */
  --color-accent-tertiary: #88a67e; /* травяной зелёный для лёгких акцентов и hover-эффектов */

  /* Тёмная тема */
  /* Задний фон */
  --color-background-primary-dark: #1b1b1b; /* глубокий угольно-серый (основной фон) */
  --color-background-secondary-dark: #24221f; /* тёмный оливковый оттенок (блоки и выделения) */

  /* Текст */
  --color-text-primary-dark: #ffffff; /* чисто белый для основного текста */
  --color-text-secondary-dark: #e8c6b4; /* тёплый кремовый для подзаголовков */
  --color-text-tertiary-dark: #f26b88; /* нежно-малиновый для акцентных заголовков */

  /* Accent Colors */
  --color-accent-primary-dark: #c72c48; /* та же «сочная малина», чтобы сохранить фирменность */
  --color-accent-secondary-dark: #5e7b57; /* мягкий зелёный для декоративных линий и иконок */
  --color-accent-tertiary-dark: #403b36; /* глубокий кофейный для теней и рамок */
}

html {
  /* Плавное прокручивание при якорных ссылках. */
  @apply scroll-smooth;
}

body {
  /* Задаём цвета фона и текста */
  /* Вначале используем светлую тему */
  @apply bg-background-primary text-text-primary
  /* Затем добавляем тёмную тему для поддержки dark mode */
  dark:bg-background-primary-dark dark:text-text-primary-dark;
}

/* @TODO: Макет - удалить, когда не будет нужен */
.mock-up {
  @apply border p-10 mx-6 xl:mx-auto md:max-w-[1270px];
}
